<div class="modal-header">
    <h4 class="modal-title">Consumos!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Consumos
          </div>
          <form [formGroup]="form" class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Fecha consumo</span>
                </div>
                <input  type="text"
                        class="form-control"
                        placeholder="Fecha consumo"
                        formControlName="transactionDate"
                        placeholder="YYYY/MM/DD"
                        ngbDatepicker #d2="ngbDatepicker"
                        (click)="d2.toggle()">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addo n2" (click)="d2.toggle()">
                    <span class="oi oi-calendar"></span>
                  </button>
                </div>
              </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Descripcion</span>
              </div>
              <input type="text" class="form-control" formControlName="description" >
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Monto</span>
              </div>
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="btn-group float-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" (click)="cleanForm()">Limpiar</button>
                <button type="button" class="btn btn-secondary" (click)="generateTransaction()">Guardar</button>
              </div>
            </form>
        </div>
      
        <div class="tab-content">
          <div id="home" class="container tab-pane active"><br>
            <h3>Consumos</h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Fecha consumo:</th>
                  <th>Descripcion:</th>
                  <th>Monto:</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let cardConsume of cardHistory">
                      <td>{{ cardConsume.transactionDate | date }}</td>
                      <td>{{ cardConsume.description }}</td>
                      <td>{{ cardConsume.amount }}</td>
                      <td>
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="first">
                          <button type="button" class="btn btn-secondary" (click)="editCardConsume(card)">Editar</button>
                          <button type="button" class="btn btn-secondary" (click)="deleteCardConsume(card.id)">Eliminar</button>
                        </div>
                      </td>
                    </tr> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
  </div>