
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" *ngIf="form.get('id').value; else guardarAsesor">
        Editar Cliente
      </div>
      <ng-template #guardarAsesor>
        <div class="card-header">
            Guardar Cliente
        </div>
      </ng-template>
      <form [formGroup]="form" class="card-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
          </div>
          <input type="text" class="form-control" formControlName="name">
          <small class="form-text text-danger" >{{form.controls.name.errorMessage}}<br/></small>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Direccion</span>
          </div>
          <input type="text" class="form-control" formControlName="addres">
          <small class="form-text text-danger" >{{form.controls['addres'].errorMessage}}<br/></small>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Ciudad</span>
          </div>
          <input type="text" class="form-control" formControlName="city">
          <small class="form-text text-danger" >{{form.controls.city.errorMessage}}<br/></small>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
          </div>
          <input type="number" class="form-control" formControlName="phoneNumber">
          <small class="form-text text-danger" >{{form.controls.phoneNumber.errorMessage}}<br/></small>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" (click)="cleanForm()">Limpiar</button>
            <button type="button" class="btn btn-secondary" (click)="saveClient()">Guardar</button>
          </div>
      </form>
    </div>
  
    <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
        <h3>Clientes</h3>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Ciudad</th>
                <th>Telefono</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients">
                <td>{{ client.name }}</td>
                <td>{{ client.addres }}</td>
                <td>{{ client.city }}</td>
                <td>{{ client.phoneNumber }}</td>
                <td>
                  <div class="btn-group btn-group-sm float-right" role="group" aria-label="first">
                    <button type="button" class="btn btn-secondary" (click)="goToCards(client)" >Ver Tarjetas</button>
                    <button type="button" class="btn btn-secondary" (click)="edit(client)">Editar</button>
                    <button type="button" class="btn btn-secondary" (click)="deleteClient(client.id)">Eliminar</button>
                  </div>
                </td>
              </tr> 
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>