<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/asesores" routerLinkActive="active">Asesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes" routerLinkActive="active">Clientes</a>
      </li>
      </ul>
    <form class="form-inline my-2 my-lg-0" [formGroup]="form">
      <input class="form-control mr-sm-2" type="text" placeholder="Usuario" formControlName="username">
      <input class="form-control mr-sm-2" type="text" placeholder="Clave" formControlName="password">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">Iniciar Session</button>
    </form>
  </div>
</nav>