
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" *ngIf="form.get('id').value; else guardarAsesor">
          Editar Asesor
        </div>
        <ng-template #guardarAsesor>
          <div class="card-header">
            Guardar Asesor
          </div>
        </ng-template>
        <form [formGroup]="form" class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
            </div>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Especialidad</span>
            </div>
            <input type="text" class="form-control" formControlName="specialty">
          </div>
          <div formGroupName="user">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Usuario</span>
              </div>
              <input type="text" class="form-control" formControlName="username">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Clave</span>
              </div>
              <input type="password" class="form-control" formControlName="password">
            </div>
          </div>
          <div class="btn-group float-right" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary" (click)="cleanForm()">Limpiar</button>
              <button type="button" class="btn btn-secondary" (click)="saveAdviser()">Guardar</button>
            </div>
        </form>
      </div>
    
      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
          <h3>Tarjetas</h3>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Especialidad</th>
                  <th>Usuario</th>
                  <th>Clave</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let adviser of advisers">
                  <td>{{ adviser.name }}</td>
                  <td>{{ adviser.specialty }}</td>
                  <td>{{ adviser.user.username }}</td>
                  <td>{{ adviser.user.password }}</td>
                </tr> 
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>