<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            Tarjeta
        </div>
        <form [formGroup]="form" class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Numero</span>
            </div>
            <input type="number" class="form-control" formControlName="number">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Ccv</span>
            </div>
            <input type="number" class="form-control" formControlName="ccv">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Tipo</span>
            </div>
            <input type="text" class="form-control" formControlName="type">
          </div>
          <div class="btn-group float-right" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary" (click)="cleanForm()">Limpiar</button>
              <button type="button" class="btn btn-secondary" (click)="saveCard()">Guardar</button>
            </div>
          </form>
      </div>
    
      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
          <h3>Tarjetas</h3>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>Numero</th>
                  <th>csv</th>
                  <th>Tipo</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let card of cards">
                      <td>{{ card.number }}</td>
                      <td>{{ card.ccv }}</td>
                      <td>{{ card.type }}</td>
                      <td>
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="first">
                          <button type="button" class="btn btn-secondary" (click)="openModal(card)">Ver Consumo</button>
                          <button type="button" class="btn btn-secondary" (click)="editCard(card)">Editar</button>
                          <button type="button" class="btn btn-secondary" (click)="deleteCard(card.id)">Eliminar</button>
                        </div>
                      </td>
                    </tr> 
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>